<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('includes/head') %>
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-H29938YQNG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-H29938YQNG');
</script>
<body class="body" id="body">
  <section class="left-block">
    <%- include('includes/left-block') %>
  </section>
  <main class="center-right-block">
    <%- include('includes/center-block') %> 
    <%- include('includes/right-block') %>  
  </main>
  <%- include('includes/footer') %>  
</body>
<script src="/javascripts/index.js"></script>
<script>
  ScrollOut({
    targets: '',
    threshold: 0.06 ,
    once: true,
    cssProps: {
      viewportY: true,
      visibleY: true
    },
  });
</script>
</html>