<!DOCTYPE html>

<html lang="en">

<!---------------- HEAD ---------------->
<head>
  <%- include('includes/head') %>
</head>

<!---------------- GOOGLE TAG ---------------->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-H29938YQNG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-H29938YQNG');
</script>



<!---------------- MAIN ---------------->
<body class="body" id="body">
  <!-- Left Sidebar -->
  <aside class="left-block">
    <%- include('includes/left-block') %>
    <%- include('includes/nav') %>
  </aside>
  <!-- Main Container -->
  <div class="container">
    <!-- Main Content -->
    <main class="center-block">  <%- include('includes/center-block') %> </main>

    <!-- Right Sidebar -->
    <aside class="right-block"> <%- include('includes/right-block') %>  </aside>

  </div>

</body>

<script src="/javascripts/index.js"></script>

<script>
  ScrollOut({
    targets: '',
    threshold: 0.06 ,
    once: true,
    cssProps: {
      viewportY: true,
      visibleY: true
    },
  });
</script>

</html>